* {
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #4A95FF;
    font-size: 15px;
<<<<<<< HEAD
}

.hamburger {
    display: none;
=======
>>>>>>> 5a2752a96bad64393b4fb1b15433d39108aedf52
}

nav ul {
    float: right;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

body {
    background-color: #122540;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: whitesmoke;
}

header {
    padding: 10% 0;
    text-align: center;
}

section {
    font-family: 'Gentium Basic', serif;
    text-align: left;
}

#bio {
    padding: 5%;  
    margin-left: 8%;
}

#projects {
    padding: 5%;
<<<<<<< HEAD
    text-align: center;
=======

>>>>>>> 5a2752a96bad64393b4fb1b15433d39108aedf52
}

footer {
    width: 100%;
    height: 60px;
    font-size: 80%;
    padding: 1%;
}
